<template>
    <div>

        <div class="col-md-3">
            <div class="alert alert-danger" if.bind="errorMessage">
                ${errorMessage}
            </div>
            <div class="alert alert-info" if.bind="infoMessage">
                ${infoMessage}
            </div>
            <form>
                <div class="form-group">
                    <label for="user">User name</label>
                    <input type="text" id="user" name="user" class="form-control" placeholder="Username" value.bind="userName & validate">
                </div>
                <div class="form-group">
                    <label for="pass">Password</label>
                    <input type="password" class="form-control" id="pass" name="pass" placeholder="Password" value.bind="password & validate">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <textarea class="form-control" id="address" name="address" placeholder="Address" value.bind="address & validate"></textarea>
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <select class="form-control" id="state" name="state">
                        <option repeat.for="s of states" value.bind="state">${s}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="isCitizen">Citizen?</label>
                    <input type="checkbox" class="form-control" id="isCitizen" name="isCitizen" placeholder="Citizen?" checked.bind="isCitizen & validate">
                </div>
                <hr />
                <input type="submit" name="submit" class="btn btn-info" value="Submit" click.delegate="submit()">
            </form>

        </div>
    </div>
</template>