<template>
    
    <require from="./data.css"></require>
    <div class="col-md-3 form-group">
        <label>Search for GIFs</label>
        <input type="text" class="form-control d-search-txt" value.bind="searchText" />
        <button class="btn btn-info" click.delegate="notifySearch()" >Search</button>
    </div>
    <br/>
    <div class="d-images">
        <div class="row" repeat.for="image of images">
            <div class="col-md-2">
                <a href="#" click.delegate="notifyOpenImageDlg(image)"><img class="img-responsive img-rounded" src.bind="image.url" /></a>
                <label>${image.caption}</label>
            </div>
        </div>
    </div>
</template>