<template>
<article class="markdown-body entry-content" itemprop="text"><h2><a id="user-content-au-demo" class="anchor" href="#au-demo" aria-hidden="true"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h2v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h2c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>au-demo</h2>
<p><a href="http://aurelia.io/"><img src="https://camo.githubusercontent.com/888059ddb73f6056604decd7b627fab10688f889/687474703a2f2f656469746f722e697665652e746563682f7376632f646174612f697675736572732f7075626c696340697665652e746563682f696d616765732f6d61696e2d6c6f676f2e737667" alt="Aurelia" data-canonical-src="http://editor.ivee.tech/svc/data/ivusers/public@ivee.tech/images/main-logo.svg" style="max-width:100%;"></a></p>
<p><a href="http://editor.ivee.tech/#/viewer?d=1&amp;fn=aurelia.json">Aurelia presentation</a></p>
<h3><a id="user-content-aurelia-demo-application" class="anchor" href="#aurelia-demo-application" aria-hidden="true"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h2v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h2c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Aurelia demo application</h3>
<p>"Aurelia is a JavaScript client framework for mobile, desktop and web leveraging simple conventions and empowering creativity."</p>
<h4><a id="user-content-how-to-run-the-application" class="anchor" href="#how-to-run-the-application" aria-hidden="true"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h2v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h2c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>How to run the application</h4>
<ul>
<li>Make sure you have NodeJS and npm installed on your machine</li>
<li>Clone or download project</li>
<li>Run <em>npm install</em></li>
<li>Using your terminal, navigate to the <strong>au-demo</strong> project folder</li>
<li>Run <em>au run --watch</em></li>
<li>Open your browser and navigate to <a href="http://localhost:9000">http://localhost:9000</a></li>
<li>Enjoy</li>
</ul>
<h4><a id="user-content-how-to-run-unit-tests" class="anchor" href="#how-to-run-unit-tests" aria-hidden="true"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h2v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h2c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>How to run unit tests</h4>
<ul>
<li>In the terminal, navigate to the project folder</li>
<li>Run <em>au test</em></li>
<li>Check the results of unit test execution</li>
</ul>
<h4><a id="user-content-how-to-run-e2e-tests" class="anchor" href="#how-to-run-e2e-tests" aria-hidden="true"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h2v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h2c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>How to run e2e tests</h4>
<ul>
<li>Make sure the application is running at <a href="http://localhost:9000">http://localhost:9000</a></li>
<li>In the terminal, navigate to the project folder</li>
<li>Run <em>au e2e</em></li>
<li>Check the results of e2e test execution</li>
</ul>
</article>
</template>